<div class="container">
  <%= link_to "ðŸ“ Edit this task", edit_task_path(@task) %>
  <h1><%= @task.title %></h1>
  <p><%= @task.details %></p>
  <p>
  <%= @task.completed ? "â˜‘ï¸ This task is completed" : "â¬œï¸ This task is not completed yet" %>
  </p>
  <%= link_to "â†©ï¸ Back to list", tasks_path %>
</div>
